#main {
  padding-top: 0.625rem; /* 10/16 */
  text-align: center;
  margin: 0 auto;
}

.accordion {
  padding: 0.313rem; /* 5/16 */
  // height: 250px;
  // width: 600px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $orange;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  background-color: #fff;
  border-left: 2px solid  $orange;
  padding: 1.25rem; /* 20/16 */
}

.objective {
  margin-left: 6.25rem; /* 100/16 */
  margin-right: 6.25rem; /* 100/16 */
}

.badge-name {
  
}
