#userbadgeshow {
  background: #2bb8db;
  height: 25vh;
  color: white;

  #badges-cards {
    padding: 0 3%;
    .accordion {
      color: black;
      padding: 0;
      height: 15vh;
      .badge-card-details {
        padding: 4%;
        .badge-card-name {
          font-weight: normal;
          font-size: 20px;
        }
      }
      .objective-undone {
        font-size: 3.125rem; /* 50/16 */
        color: white;
      }

      .objective-done {
        font-size: 3.125rem; /* 50/16 */
        color: $yellow !important;
      }

    }
    .objective-decription {
      color: black;
      background-color: #fff;
      border-radius: 2px;
      border-left: 2px solid  #EEF7E3;
      padding: 1.25rem; /* 20/16 */
      &-content {

      }
    }
  }
}
