<div class="bottom-view">
  <div class="bottom-view-container d-none">
    <!-- TODO/ remplir avec les badges acquis -->
    <ul>
      <li>Badge</li>
      <li>Badge</li>
      <li>Badge</li>
    </ul>
  </div>
</div>

<!-- TRIGGER -->
<script>
  $('.bottom-view').click(function() {
    $(this).toggleClass('expanded');
    $('.bottom-view-container').toggleClass('d-none');
  })
</script>
