<div class="bottom-view">
  <div class="bottom-view-container">
    <!-- TODO/ remplir avec les badges acquis -->
    <ul>
      <li>item</li>
      <li>item</li>
      <li>item</li>
    </ul>
  </div>
</div>

<!-- TRIGGER -->
<script>
  $('.bottom-view').click(function() {
    $(this).toggleClass('expanded');
  })
</script>
