<div class="bottom-view">
  <div class="bottom-view-container d-none">
    <!-- TODO/ remplir avec les badges acquis -->
    <p>Achievements unlocked</p>
    <ul>
      <% @userbadges.each_with_index do |userbadge, index| %>
        <%= render 'icon_container', value: userbadge.badge.id, progression: nil, index: index %>
      <% end %>
    </ul>
  </div>
</div>

<!-- TRIGGER -->
<script>
  $('.bottom-view').click(function() {
    $(this).toggleClass('expanded');
    $('.bottom-view-container').toggleClass('d-none');
  })
</script>
