<div class="bottom-view">
  <div class="bottom-view-container d-none">
    <div class="container">
      <p>Vos badges acquis</p>
      <div class="bottom-view-badges-container">
        <% @userbadges.each_with_index do |userbadge, index| %>
          <%= render 'icon_container', value: userbadge.badge.id, progression: nil, index: index %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- TRIGGER -->
<script>
  $('.bottom-view').click(function() {
    $(this).toggleClass('expanded');
    $('.bottom-view-container').toggleClass('d-none');
  })
</script>
