<div class="badge-icon-container d-flex align-items-center pr-4 pl-4">
  <svg width="60" height="60" id="badgeicon">
      <defs>
          <clipPath id="circleView">
            <circle cx="30" cy="30" r="30" fill="#FFFFFF" />
          </clipPath>
      </defs>
    <image width="60" height="60" xlink:href="http://i.pravatar.cc/100" clip-path="url(#circleView)" />
  </svg>
</div>
