<% array_of_icons = %w(curd.svg forest.svg bicycle.svg) %>
<div class="badge-icon-container d-flex align-items-center pr-4 pl-4" data-progress="<%= progression %>">
  <svg width="60" height="60" id="badgeicon<%= value %>">
      <defs>
          <clipPath id="circleView">
            <circle cx="30" cy="30" r="30" fill="#FFFFFF" />
          </clipPath>
      </defs>
    <image width="60" height="60" xlink:href="<%= image_url(array_of_icons[index]) %>" clip-path="url(#circleView)" transform="scale(-1, -1) translate(-60, -60)" />
  </svg>
</div>
