<div class="badge-icon-container d-flex align-items-center justify-content-center" data-progress="">
  <svg width="80" height="80" class='completed-achievements'>
      <defs>
          <clipPath id="circleView">
            <circle cx="40" cy="40" r="40" fill="#FFFFFF" />
          </clipPath>
      </defs>
    <image width="80" height="80" xlink:href="<%= image_url(icon) %>" clip-path="url(#circleView)" />
  </svg>
</div>
