
<h1 class='badge-name text-center'><%= @userbadge.badge.name.upcase %></h1>



  <div id="main">
    <% @userbadge.badge.objectives.each do |objective| %>
    <div class="objective">
      <div class="accordion">
        <p class="objective-name"><%= objective.name  %></p>
      </div>
      <div class='content'>
        <p> <%= objective.description  %></p>
        <button type="button" class="btn btn-primary">J'ai réalisé ce défi !</button>
      </div>
    </div>
    <% end %>
  </div>


<script>

$(function() {
  $('.content').hide();
  $('.accordion').click(function() {
    $(this).next().slideToggle('fast').siblings('div:invisible').slideUp('fast');
  });
})();

</script>
