#header-background {
  background: linear-gradient(90deg, #89C443, #a5db62);
  height: 10rem;
  color: white;
  #title {
    font-family: 'PT Serif', serif;
    margin-bottom: 0;
    font-size: 45px;
  }
  #username {
    font-weight: bold;
    font-size: 15px;
  }
}

#badges-cards {
  margin-top: -10vh;
  position: relative;
  padding: 5%;
  color: white;
  .badge-card {
    border: solid 1px;
    border-radius: 5px;
    background: no-repeat center/120% linear-gradient(90deg, #2bb8db, #94e7fc);
    p {
      margin: 0;
      font-weight: bold;
      .badge-card-name {
        font-size: 18px;
      }
    }
    .progression {
      font-size: 12px;
    }
    .badge-icon-container {
      padding: 2% 0;

    }
    &-show-link {
      text-decoration: none;
      z-index: 2;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: white;
      justify-content: center;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
