.bottom-view {
  background: #2bb8db;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  transition: height ease-out .4s;
  &.expanded::before {
    display: none;
  }
  &-container {
    margin-top: 50px;
    #badge-acquired-title {
      font-size: 34px;
      border-bottom: solid 1px;
    }
  }
  &-badges-container {
    position: relative;
    .completed-achievements {
      transform: scale(-1.5);
    }
    .badge-show-link {
      text-decoration: none;
      z-index: 4;
      position: absolute;
      height: 130%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: white;
      justify-content: center;
    }
  }
}

.expanded {
  height: 100%;
  z-index: 2;
}

.bottom-view::before {
  content: "+";
  background: #2bb8db;
  color: white;
  font-size: 23px;
  width: 46px;
  height: 34px;
  border-radius: 15%;
  position: absolute;
  top: -15px;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
