.modal-content {
  background-color: $blue;
  border-radius: 1.25rem; /* 20/16 */
  margin: 3rem 1rem;
  height: 85vh;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  color: white;
}

.btn-modal {
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 5rem;
  width: 31.25rem; /* 500/16 */
  height: 4rem; /* 60/16 */
  color: white;
  font-size: 1.563rem; /* 25/16 */
  background-color: #5A6AE7;
}

.modal-icon {
  margin-bottom: 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  transform: scale(1.7);
}
